<div class="container" style="margin-top: 100px; height: auto;">
    <div class="row">
        <div class="col d-grid justify-content-center">
            <button routerLink="/dashboard/add-service" class="btn myButton">Go Back</button>
            <h2 style="font-family: 'Fredoka One', cursive;">{{ database.name }}</h2>
            <img src="{{ database.img }}" class="logo" alt="logo">
        </div>        
    </div>
    <div class="row">
        <div class="col">
            <div class="col d-flex justify-content-center">
                <h6>Open: <span>{{ database.open }}</span> </h6>
            </div>
            <div class="col d-flex justify-content-center mt-5">
                <h4>Services</h4>
                <hr>
            </div>
            <div class="col d-flex justify-content-center">
                <button (click)="domi()" style="height: 100px; width: 100px; border-radius: 100px;" class="btn btn-danger text-center">Emergency!</button>                
        </div>
    </div>
</div>

